.container {
    padding: 60px 20px;
    text-align: center;
    background: linear-gradient(to bottom, #d3d3d3, #4d4d4d);
    border-radius: 10px; 
  }
  
  .section-title {
    font-size: 2.5rem;
    color: #4d4d4d; 
    margin-bottom: 30px;
    transition: color 0.3s ease;
  }
  
  .list-group {
    list-style: none; 
    padding: 0;
  }

  h5{
    color: #000000;
  }
  
  .vaccine-card {
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 10px; 
    padding: 20px;
    margin: 10px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s, box-shadow 0.3s; 
  }
  
  .vaccine-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
  }
  
  .bg-success {
    background-color: #28a745; 
    color: white;
  }
  
  .bg-danger {
    background-color: #dc3545; 
    color: white;
  }
  
  .status-indicator {
    padding: 10px; 
    border-radius: 5px; 
    margin-top: 10px; 
  }
  
  .status-text {
    font-weight: bold; 
  }
  
  .text-white {
    color: white; 
  }
  
  
  @media (max-width: 768px) {
    .section-title {
      font-size: 2rem; 
    }
  
    .vaccine-card {
      padding: 15px; 
    }
  }
  